@font-face {
    font-family: dancing;
    src: url(font/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: greatVibes;
    src: url(font/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: cinzel;
    src: url(font/Cinzel-VariableFont_wght.ttf);
}

/* superior */
body {
    background: white;
    align-content: center;
    border: 0;
    margin: auto;
    width: 210mm;
}

.pagina {
    background: white;
    max-height: 297mm;
    max-width: 210mm;
    page-break-after: always;
    align-items: center;
    horiz-align: center;
}

.top1 {
    font-family: cinzel, serif;
    border-radius: 10px;
    border: 2px solid cadetblue;
    margin: 15mm auto 0mm auto;
    height: 37mm;
    width: 180mm;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 35pt;
    font-weight: bold;
}

.logo img {
    margin-left: 6mm;
    height: 40mm;
    margin-right: 8mm;
}


/* Dades contacte */
.dades {
    margin-top: 15mm;
    margin-bottom: 10mm;
    display: flex;
}

.dades_empresa {
    font-family: dancing, serif;
    color: dodgerblue;
    border-radius: 10px;
    border: 2px solid cadetblue;
    margin-left: 15mm;
    width: 85mm;
    height: 25mm;
}

.dadesClient {
    font-family: dancing, serif;
    color: dodgerblue;
    margin-left: auto;
    margin-right: 15mm;
    border-radius: 10px;
    border: 2px solid cadetblue;
    width: 85mm;
    height: 25mm;
}

.camp {
    width: 35mm;
}

/* factura */
.fila {
    font-family: dancing, serif;
    color: dodgerblue;
    width: 180mm;
    height: 9mm;
    display: flex;
    margin: auto;

}
.fila div {
    margin: 0.5mm;
    border-radius: 10px;
    border: 2px solid cadetblue;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    horiz-align: center;
}

.fila div:nth-of-type(1) {
    width: 14.5mm;
}

.fila div:nth-of-type(2) {
    width: 21.5mm;
}

.fila div:nth-of-type(3) {
    width: 72mm;
}

.fila div:nth-of-type(4) {
    width: 36mm;
}

.fila div:nth-of-type(5) {
    width: 36mm;
}
.dades_empresa > div {
    display: flex;
}

.dadesClient > div {
    display: flex;
}

.camps {
    font-family: Arial, serif;
    color: black;
}

.c2 {
    margin: 1mm 3mm 0.5mm 2mm;
}

.c1 {
    margin-right: 2mm;
}

/* FIRMA I PAGAMENT*/
.bot {
    margin-top: 5mm;
    width: 210mm;
    height: 30mm;
    display: flex;
    align-items: center;
    align-content: center;
}

.firma {
    font-family: greatVibes, serif;
    font-size: 17pt;
    margin-left: 15mm;
    width: 70mm;
    height: 20mm;
    border: 2px solid cadetblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    horiz-align: center;
}

.firma p:nth-of-type(1) {
    font-family: Arial, serif;
    padding-top: 5mm;
    font-size: 11pt;
    padding-bottom: 1mm;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.firma p:nth-of-type(2) {
    font-family: greatVibes, serif;
    color: dodgerblue;
    padding-top: 3mm;
    margin-top: 0;
}

.pago p:nth-of-type(1) {
    font-family: Arial, serif;
    font-size: 11pt;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.pago p:nth-of-type(2) {
    font-family: dancing, serif;
    font-size: 20pt;
    padding-top: 2mm;
    padding-bottom: 0;
    margin-top: 0;
}

.pago {
    width: 70mm;
    border: 2px solid cadetblue;
    border-radius: 10px;
    height: 20mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    horiz-align: center;
    margin: 0 15mm 0 auto;
}

.total {
    font-weight: bold;
}
.total1{
    padding-left: 53mm;
}
.bb1{
    font-weight: bold;
    width: 33mm;
    margin-left: 50mm;
}
.numero_iva{
    width: 33mm;
}
.bb{
    width: 34mm;
    font-weight: bold;
}
.numero_brut{
    width: 34mm;
}
.total2{
    display: flex;
    padding-left: 123mm;
}
.oo{
    Font-family: arial, serif;
    font-weight: bold;
    width: 34mm;
}
.numero_total{
    width: 34mm;
}
.x, .y{
    font-family: dancing, serif;
    color: dodgerblue;
    height: 9mm;
    display: flex;
    margin: auto;
}
.x div, .y div{
    margin: 0.5mm;
    border-radius: 10px;
    border: 2px solid cadetblue;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    horiz-align: center;
}